[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.3"
click = "==6.7"
itsdangerous = "==0.24"
py = "==1.4.33"
pyparsing = "==2.2.0"
requests = "==2.13.0"
six = "==1.10.0"
Flask = "==0.12.4"
"Jinja2" = "==2.9.5"
MarkupSafe = "==1.0"
Werkzeug = "==0.12.1"

[dev-packages]
asgard-api = {editable = true, path = "./../asgard-api"}
ipdb = "==0.10.3"
pytest = "==3.0.7"
pytest-cov = "==2.4.0"
coverage = "==4.3.4"
responses = "==0.8.1"

[requires]
python_version = "3.6"
